{% extends 'base.html' %} 
{% load static %}

{% block styles %}
{{ block.super }}
<style>


    .about {
        display: flex;
        justify-content: space-around;
        background: linear-gradient(to right, #a8d877, #52BE0D);
        color: white; 
        padding: 20px; 
        margin: 20px;
    }

    #text {
      
        padding: 20px; 
        border-radius: 10px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
        color: aliceblue;
        font-family:cursive;
        
    }

    span {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 22px;
        font-weight: 200;
        text-align: justify;
        color: #9D5B43;
        background-color: aliceblue;
        display: block; 
        padding: 10px; 
    }

    h3 {
        color: #9D5B43; 
    }

    img {
        width: 100%; 
        height: auto;
        border-radius: 10px; 
    }
</style>
{% endblock %}


{% block content %}
<div class="about">
    <div id="text">
        <span>Taste Temptation - Where Every Bite Tells a Story.</span>
        <p > Welcome   to Taste Temptation, where culinary delight meets a feast for the senses. Our passion for exquisite flavors and warm hospitality comes together to create a dining experience that goes beyond the ordinary. 
        <h3>Our story</h3> 
        At Taste Temptation, we believe in the power of good food to bring people together. Our journey began with a simple idea: to craft dishes that not only satisfy the palate but also tell a story. Every recipe on our menu is a labor of love, inspired by global culinary traditions and made with locally sourced, fresh ingredients.
       </p>
      <h3> Culinary Excellence</h3>
        Our chefs, masters of their craft, bring innovation and creativity to every dish. From the sizzling grills to the aromatic spices, each plate is a masterpiece, designed to tempt and tantalize your taste buds. Whether you're a fan of classic comfort food or adventurous gastronomy, our diverse menu has something for everyone.
       
     </div>
    <div>
        <img style="width: 400px; height: auto;" src="{% static 'images/profile.jpeg' %}" alt="">
    </div>
   
</div>
{% endblock %}
